
.logo {
	display: inline-block;
	flex: 0 0 180px;
	height: 60px;
	max-width: 180px;
	margin: 0 105px 0 0;
	text-decoration: none;
	
	background-repeat: no-repeat;
	background-position: 50% 50%;

	background-image: url(/img/logo.png); 
	@include bg-contain;

	&.logo_filled {
		position: relative;
		background-image: url(/img/logo-filled_noroof.png); 

		&:after {
			@include pseudo;
			width: 7.3rem;
			height: 7.3rem;
			left: -.2rem;
    		top: -2.2rem;
			border-radius: 50%;
			background-image: url(/img/logo-filled_roof.png); 
			@include bg-contain;
		}

			&:hover:after {
				transform: translateY(-3px);
			}
	}
}
