
// список ссылок
// 	горизонтальный
// 	вертикальный
// 	с дропдауном

.nav {
	a {
		position: relative;
		display: inline-block;
		padding: 15px 0;
		margin: 0 50px 0 0;
		font-size: 14px;
		color: $gray4;
		transition: $tr3;
		text-decoration: none;

		&:last-child {margin-right:0;}
		
		// ВЕРНУТЬ!
		
			// &:hover {
			// 	text-decoration: none;
			// 	&::before {width: 100%;}
			// }

		&::before {
			@include pseudo;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 0%;
			background-color: $yellow;
			
			transition: $tr3;

		}
	}
}